body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.logo img{
  height: 20rem;
}
.logo {
  width: 100%;
  position: relative;
  margin-left: 500px;
  margin-top: -150px;
  position: fixed;
}


header{
  margin-bottom: 3rem;
}

/*---====== HEADER SECTION ENDS HERE =======--*/

.image-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.container {
  position: relative;

}

.image {
  width: 100%;
  height: auto;
}

.fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .fade {
  opacity: .7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*---====== MENU SECTION ENDS HERE =======--*/

.list-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}
.menu-list{
  text-align: center;
  width: 30%;
}
.list-container{
  margin-bottom: 2rem;
}
.menu-list p{
  margin-bottom: 1rem;
}
.btn{
  border: 1px solid grey;
  padding: .7rem 1.7rem .7rem 1.7rem;
  background-color: transparent;
}
.btn:hover{
  border: none;
  background-color: grey;
  transition: ease-in-out .4s;
  color: white;
}

#announcement{
  display: flex;
  flex-flow: row wrap;
}
.announcement{
  background-color:#F2F2F2;
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 3rem;
}
.announcement-content{
  max-width: 40%;
}

.modal-images{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  background-color: black;
  opacity: 0.4;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}








/*---====== MEDIA QUERY SECTION STARTS HERE =======--*/

@media screen and (max-width: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
  .logo {
    width: 50px;
    position: fixed;
    margin-left: 65px;
    margin-top: -125px;
  }
  .logo img{
    height: 16rem;
  }

}